.question-one {
  border-color: red;
  border-style: dotted;
  border-weight: heavy;
}

.question-two {
  border-color: blue;
  border-style: solid;
  border-weight: 1px;
}

.question-three {
  border-color: green;
  border-style: solid;
  borer-radius: 20px;
  border-weight: 1px;
  margin: 0px 20px 0px 20px;
}

.question-four {}

.question-five {}

.question-six {}
