.question-one {
  border-color: red;
  border-style: solid;
  border-weight: heavy;
}

.question-two {
  border-color: green;
  border-style: solid;
  border-weight: 2px;
}

.question-three {
  border-color: blue;
  border-style: solid;
  borer-radius: 20px;
  border-weight: 3px;
  margin: 0px 20px 0px 20px;
}

.question-four {
  border-color: blue;
  border-style: dotted;
  border-weight: 5px;
}

.question-five {
  border-weight: 40px;
  border-style: double;
  border-color: black;
  padding: 10px;
  margin: 25px;
}

.question-six {
  border-style: double;
  border-color: green;
  border-weight: 30px;
  border-style: solid;
  padding: 10px;
  margin: 20px;
}
