.question-one {
  border-color: red;
  border-style: dotted;
  border-weight: heavy;
}

.question-two {
  border-color: blue;
  border-style: solid;
  border-weight: 1px;
}

.question-three {}

.question-four {}

.question-five {}

.question-six {}
